.container{
	height: 100vh;
	background: url("http://47.119.182.138:89/images/userRenew1@2x.png") no-repeat;
	background-color: #FAF5F8;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.header{
		height: 88rpx;
		box-sizing: content-box;
	}
	.content{
		flex: 1;
		overflow: auto;
	}
	.vip-header {
		display: flex;
		padding: 0 40rpx;
		align-items: center;
		font-weight: bold;
		font-size: 32rpx;
		position: relative;
		.img{
			height: 128rpx;
			width: 128rpx;
			margin-right: 36rpx;
			border-radius: 50%;
		}
		.vip-tag {
			margin-left: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.label {
				width: 156rpx;
				height: 60rpx;
				background: #FEEFF2;
				border-radius: 400rpx 400rpx 400rpx 400rpx;
				border: 2rpx solid #F64B6E;
				font-size: 28rpx;
				color: #F64B6E;
				line-height: 60rpx;
				text-align: center;
			}
			.time {
				font-size: 22rpx;
				padding-top: 4rpx;
				color: #515151;
				line-height: 26rpx;
				text-align: center;
			}
		}
	}
}
.content{
	padding: 0 36rpx;
}
.contentBox{
	min-height: 306rpx;
	background: linear-gradient( 89deg, #FF718E 0%, #F64D70 100%);
	border-radius: 32rpx;
	margin-top: 28rpx;
	.contentTop{
		display: flex;
		padding: 12rpx 32rpx;
		align-items: center;
		// justify-content: space-between;
		.img{
			height: 60rpx;
			width: 60rpx;
			margin-right: 18rpx;
		}
		.hintTop{
			font-size: 28rpx;
			font-weight: bold;
			color: white;
		}
		.hintBottom{
			font-size: 24rpx;
			color: white;
		}
		.btn{
			width: 128rpx;
			height: 52rpx;
			background: #FFFFFF;
			border-radius: 32rpx;
			color: #F85174;
			font-size: 24rpx;
			line-height: 52rpx;
			margin-right: 0;
		}
	}
}
.contentMain{
	background: #FFFFFF;
	box-shadow: 0rpx 0rpx 8rpx 0rpx rgba(0,0,0,0.06);
	border-radius: 28rpx;
	padding: 32rpx 24rpx;
	.list{
		display: flex;
		.item{
			flex: 1;
			width: 194rpx;
			height: 256rpx;
			padding-top: 28rpx;
			border-radius: 24rpx;
			border: 2rpx solid #DFDFDF;
			color: #333333;
			font-size: 28rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			overflow: hidden;
			&:nth-child(2){
				margin: 0 24rpx;
			}
			&.selected{
				background: rgba(234,54,91,0.08);
				border: 2rpx solid #FA5E7E;
				.hint{
					background: #FA5E7F;
					color: white;
				}
			}
			.month{
				
			}
			.money{
				.num{
					font-size: 52rpx;
				}
			}
			.hint{
				height: 56rpx;
				line-height: 56rpx;
				text-align: center;
				
			}
		}
	}
	.btn{
		width: 598rpx;
		height: 68rpx;
		background: linear-gradient( 271deg, #F5496D 0%, #FF7592 100%);
		border-radius: 200rpx;
		margin: auto;
		margin-top: 48rpx;
		text-align: center;
		line-height: 68rpx;
		color: white;
		font-size: 28rpx;
		font-weight: bold;
	}
	.txt{
		color: #666666;
		text-align: center;
		margin-top: 16rpx;
	}
}
.tabList{
	margin-top: 28rpx;
	padding: 32rpx 48rpx 0 48rpx;
	// height: 592rpx;
	background: #FFFFFF;
	box-shadow: 0rpx 0rpx 8rpx 0rpx rgba(0,0,0,0.06);
	border-radius: 28rpx 28rpx 28rpx 28rpx;
	.title{
		font-size: 28rpx;
		text-align: center;
	}
	.list{
		display: flex;
		flex-wrap: wrap;
		justify-items: center;
		align-items: center;
		padding: 28rpx 0;
		.item{
			flex-direction: column;
			margin-right: 90rpx;
			text-align: center;
			margin-bottom: 24rpx;
			&:nth-child(3n){
				margin-right: 0;
			}
		}
		.img{
			height: 134rpx;
			width: 134rpx;
			display: block;
			margin-bottom: 12rpx;
		}
	}
}
