

.green{
	color:#0b8c43;
}

.blue{
	color:#5e8fff;
}
.c38{
	color: #38dfc1;
	}
.orange{
	color:#ffa425;
}

.warning{
	color:#ffc424;
}

.danger{
	color:#ff4b4b;
}

.brown{
	color:#825349;
}

.black{
	color:#302f2a;
}

.b-green{
	background-color:#0b8c43;
}

.b-warning{
	background-color:#ffc424;
}

.b-orange{
	background-color:#ffa425;
}

.b-danger{
	background-color:#ff4b4b;
}

.b-brown{
	background-color:#825349;
}

.b-black{
	background-color:#302f2a;
}

.cf{
	color:#fff;
}

.c0{
	color:#000;
}

.c3{
	color:#333;
}

.c6{
	color:#666;
}

.c9{
	color:#999;
}

.cc{
	color:#cccccc !important;
}

.bf{
	background-color:#fff;
}
.b9{
	background-color:#999;
}

.bgf5{
	background-color:#f5f5f5;
}
.bg38{
	background-color: 	#38dfc1;;
}
.bgf8{
	background-color:#f8f8f8;
}
.bge5{
	background-color:#e5e5e5;
}
.bgcc{
	background-color: #ccc;
}
.bgc9{
	background-color: #c9c9c9;
}
.bdc38{
	border-color:#38dfc1 ;
}
.tap:active {
    background-color:#fff9f5;
}

.color_a1{
	color:#E9383E;
}

.color_a2{
	color:#2078F5;
}

.color_a3{
	color:#F9353B;
}